

/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

/* add comment */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
}

.header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  background-color:azure;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 2px;
}

.special{
  font-size: 100px;
  font-weight: 600;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: royalblue;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: sandybrown;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}


.timeline ul li:hover {
  background-color: azure;
  color: royalblue;
}


.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 5px;
  letter-spacing: 2px;
  }
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: sandybrown;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
    text-align: right;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
    text-align: left;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: orange;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
 
  .timeline ul li:nth-child(odd) .date {
    position: absolute;
    top: -20px;
    right: -130px;
    margin:0;
    padding: 8px 8px;
    background-color: sandybrown;
    color:azure;
    border-radius:18px;
    text-align: left;
  }

  .timeline ul li:nth-child(even) .date {
    position: absolute;
    top: -20px;
    left: -130px;
    margin:0;
    padding: 8px 8px;
    background-color: sandybrown;
    color:azure;
    border-radius:18px;
    text-align: right;
  }


  .timeline ul li:hover::before {
    background-color: azure;
  }
}
